body {
    font-family: 'Roboto';
    font-weight: normal;
    color: $text-color;
    margin: 0;
    
}
.page {
    display: block;
    background-color: #1B1717;
    min-height: 100vh;
    position: relative;
}
.content {
    padding: 0 calc((100vw - 1216px) /2);
   
    @media screen and (max-width: 1276px) {
        padding: 0 30px; 
    }
    @media screen and (max-width: 480px) {
        padding: 0 10px;  
    }
}
button {
    background: transparent;
    border: none;
}